.project_item_block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8rem;
  justify-content: center;
}

.shadow_tech {
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);
}

.img_ianimation {
  transform: translateY(0%);
  transition: transform 10s ease-in-out 0s;
}

.img_ianimation:hover {
  transform: translateY(-86%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .block_text_project {
    text-align: center;
  }
}
