.scikls_shadow {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
  border-radius: 50%;
}

@media (max-width: 850px) {
  .mobile_skils {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .techstack_text {
    border-bottom: 2px #767676 solid;
    text-align: center;
    border-right: none;
    margin-bottom: 20px;
  }
  .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}
@media (max-width: 650px) {
  .icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    justify-content: center;
  }
}
