.loader {
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1020px) {
  .about_block {
    display: flex;
    flex-direction: column;
    padding-top: 160px;
  }
  .main_img {
    margin-top: 40xp;
  }
  .about_container {
    height: auto;
  }
  .text_block {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
  }
}

@media (max-width: 750px) {
  .spiner_block {
    display: none;
  }
  .text_block {
    width: 100%;
    text-align: center;
    padding-top: 30px;
  }
}

@media (max-width: 500px) {
  .main_img {
    width: 300px;
    height: 245px;
    margin-bottom: 30px;
  }
  .about_text {
    font-size: 15px;
    width: 80%;
    text-align: center;
    padding-top: 20px;
  }
  .about_text_block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
