.menuNavbar {
  display: none !important;
}

@media (max-width: 900px) {
  .logoNavText {
    display: none;
  }
}

@media (max-width: 700px) {
  .contentListNav {
    display: none;
  }

  .menuNavbar {
    display: block !important;
  }
}

.img_shadow {
  /* box-shadow: 1px 0.5px 15px 1px #1a5ba5; */
  border: 3px #1a5ba5 solid;
}
@media screen and (max-width: 630px) {
  .mobile {
    width: 55px;
    height: 55px;
  }
}
