.menuNavbar {
  display: none !important;
}

@media (max-width: 900px) {
  .logoNavText {
    display: none;
  }
}

@media (max-width: 700px) {
  .contentListNav {
    display: none;
  }

  .menuNavbar {
    display: block !important;
  }
}

.img_shadow {
  border-radius: 100%;
  margin: auto;
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.block_logo_drawer {
  width: 47px;
  height: 47px;
}

@media (max-width: 630px) {
  .mobile {
    width: 55px;
    height: 55px;
  }
  .block_logo {
    width: 59px;
    height: 59px;
  }
}
