@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* 
body {
  background: rgb(15 23 42);
}

.userimg {
  background-image: url(../src/assets/img/userImg.jpg);
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: auto;
  animation: animate 1.5s infinite ease alternate;
}
@keyframes animate {
  to {
    transform: translateY(20px);
  }
}

.img_shadow {
  box-shadow: 2px 2px 50px 2px #1a5ba5;
}

@media (max-width: 1280px) {
}

@media screen and (max-width: 768px) {
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_content {
    padding-left: 2rem;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .main_content {
    padding-left: 2rem;
  }
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .main_content {
    padding-left: 0;
  }
  .main {
    padding-top: 40px;
    width: 350px;
    height: 350px;
  }
  .user_title {
    margin-left: 40px;
  }
  .userimg {
    width: 100%;
    height: 100%;
    margin-left: 40px;
  }
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
  .icon_size {
    width: 35px;
    height: 35px;
  }
}

@media screen and (max-width: 360px) {
  .main {
    padding-top: 40px;
    width: 320px;
    height: 320px;
  }
  .about-text {
    width: 300px;
  }
  .small {
    border: 5px;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: justify-between;
}

.icon {
  display: block;
  animation: float 5s ease-in-out infinite;
}

.icon_size {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  margin: 5px;
}

.telegram-line {
  animation-delay: 2s;
}
.gitgub-line {
  animation-delay: 1s;
}
.twitter-line {
  animation-delay: 2s;
}
.linkedin-line {
  animation-delay: 1s;
}
.vk-line {
  animation-delay: 2s;
}
.facebook-line {
  animation-delay: 1s;
}

/* @keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
} */
