@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(15 23 42);
}

.userimg {
  background-image: url(../src/assets/img/userImg.jpg);
  background-repeat: no-repeat;
  object-fit: fill;
  background-size: auto;
}

/* .userimg {
  background-image: url('../src/assets/img/blueelips.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
} */

@media screen and (max-width: 425px) {
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
  .icon_size {
    width: 35px;
    height: 35px;
  }
  .icon-wrapper {
    padding-left: 2.5rem;
  }
}
@media screen and (max-width: 768px) {
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
}
@media screen and (max-width: 630px) {
  .about-text {
    width: 340px;
    font-size: 14px;
  }
  .main_user_img {
    display: none;
  }
  .userimg1 {
    display: none;
  }
  .userimg2 {
    display: none;
  }
  .userimg3 {
    display: none;
  }
}

.icon-wrapper {
  display: flex;
  justify-content: start;
}

.icon {
  display: block;
  animation: float 5s ease-in-out infinite;
}

.icon_size {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  margin: 5px;
}

.facebook-line {
  animation-delay: 1s;
}
.instagram-line {
  animation-delay: 2s;
}
.telegram-line {
  animation-delay: 1s;
}
.twitter-line {
  animation-delay: 2s;
}
.gitgub-line {
  animation-delay: 1s;
}
.linkedin-line {
  animation-delay: 2s;
}
.vk-line {
  animation-delay: 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
